[submodule "android/jet-materials"]
	path = android/jet-materials
	url = https://github.com/raywenderlich/jet-materials.git
[submodule "python/algofi-py-sdk"]
	path = python/algofi-py-sdk
	url = https://github.com/Algofiorg/algofi-py-sdk.git
[submodule "python/algofi-amm-py-sdk"]
	path = python/algofi-amm-py-sdk
	url = https://github.com/Algofiorg/algofi-amm-py-sdk.git
[submodule "python/tinyman-py-sdk"]
	path = python/tinyman-py-sdk
	url = https://github.com/tinymanorg/tinyman-py-sdk
[submodule "ios/rwi-materials"]
	path = ios/rwi-materials
	url = https://github.com/richard-ash/rwi-materials
[submodule "android/kco-materials"]
	path = android/kco-materials
	url = https://github.com/raywenderlich/kco-materials.git
[submodule "graphql/lift-off/odyssey-lift-off-part3"]
	path = graphql/lift-off/odyssey-lift-off-part3
	url = https://github.com/apollographql/odyssey-lift-off-part3
[submodule "graphql/lift-off/odyssey-lift-off-part5-server"]
	path = graphql/lift-off/odyssey-lift-off-part5-server
	url = https://github.com/richard-ash/odyssey-lift-off-part5-server.git
[submodule "graphql/lift-off/odyssey-lift-off-part5-client"]
	path = graphql/lift-off/odyssey-lift-off-part5-client
	url = https://github.com/richard-ash/odyssey-lift-off-part5-client.git
